src/gui/__pycache__
src/pti/__pycache__
src/pti/*.csv
src/pti/*.bin
src/gui/*.csv
.idea
notebooks/*.csv
notebooks/*.pdf
notebooks/*.txt
notebooks/.ipynb_checkpoints
notebooks/__pycache__
src/decimation/cmake-build-release
src/phase_scan/cmake-build-release
src/inversion/cmake-build-release
