src/gui/__pycache__
src/pti/__pycache__
src/pti/*.csv
src/pti/*.bin
src/gui/*.csv
src/*.bin
src/*.csv
src/.idea
.idea
notebooks/*.csv
notebooks/*.pdf
notebooks/*.txt
notebooks/.ipynb_checkpoints
notebooks/__pycache__
