dacite==1.8.1
fastcrc==0.2.1
h5py==3.8.0
nptyping==2.5.0
numpy==1.24.3
pandas==2.0.2
PyQt5==5.15.9
pyqtgraph==0.13.3
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
six==1.16.0
types-pytz==2023.3.0.0
tzdata==2023.3
pythonnet; platform_system == "Windows"
