fastcrc
numpy
pandas
scipy
PyQt5
pyqtgraph
dacite
python-statemachine
pyserial; platform_system  != "Windows"
psutil
pythonnet; platform_system  == "Windows"
h5py
nptyping[complete]
beartype
commented-configparser
